<!DOCTYPE html>

<html lang="en">

<head>
    <title>Comparer</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108190186-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-108190186-4');

    </script>
    <script>
        function process_search_submit() {
            if (chosenId === "") {
                alert("Please choose a category");
            } else {
                var text = $("#media_name").val();
				console.log(typeof(text));
				
                if (text === "") {
                    alert("Please enter a name of anime/manga/book you want to search");
                } else {
                    var category = chosenId;
                    if (category === "anime") {
						
						{{text}}
                        $('#query_form').attr("action", "{{url_for('anime', name=text)}}");
                    } else if (category === "manga") {
                        $('#query_form').attr("action", `{{url_for('manga')}}`);
                    }
                   
                    $('#query_form').submit();

                }
            }
        }

    </script>

    <meta charset="utf-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel=stylesheet href="{{url_for('static', filename='main.css')}}">
    <link rel=stylesheet href="{{url_for('static', filename='search_form.css')}}">
    <!--<link rel=stylesheet href="{{url_for('static', filename='media_queries_main.css')}}">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{url_for('static', filename='main.js')}}"></script>


</head>

<body>
    <form id="query_form" method="post" name="query_form">
        <div class="form-group">
            <label for="">What do you want to look up?</label>
            <div id="type_container">
                <div class="media_containers hovers" id="anime" onclick="activate(this.id)">
                    Anime
                </div>
                <div class="media_containers hovers" id="manga" onclick="activate(this.id)">Manga</div>
                <div class="media_containers hovers" id="book" onclick="activate(this.id)">Book</div>
            </div>
            <div class="form-group">
                <div class="search_bar_container">

                    <img src="{{url_for('static', filename='search_icon.png')}}" style="width: 5%; min-width: 28px; height: 100%; position:absolute; right:8px; top:0; object-fit: contain; cursor:pointer" onclick="process_search_submit()">
                    <input type="text" class="form-control" onkeypress="handle(event)" id="media_name" name="media_name">
                </div>
                <small style="width:85%; margin-left:auto; margin-right: auto; margin-top:1.2vh;" class="form-text text-muted">Please enter the name in english. For example instead of: 'Toaru Kagaku no Railgun T' enter: 'A Certain Scientific Railgun T'</small>
            </div>

        </div>
    </form>
</body>

</html>
